{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>{% block title %}{% trans "Шахматный турнир" %}{% endblock %}</title>
    <meta charset="utf-8"> 
    <link href="/static/img/favicon.png" rel="icon" type="image/png">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <script src="/static/js/jquery-2.1.1.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url "home" %}">{% trans "Шахматный турнир" %}</a>
        </div>
        <div class="navbar-collapse collapse">
          {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
              <li class="active dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-user"></span> {{ user.username }} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="{% url "logout" %}">{% trans "Выйти" %}</a></li>
                </ul>
              </li>
            </ul>
          {% else %}
            <form class="navbar-form navbar-right" role="form" action="{% url "login" %}" method="post">
              {% csrf_token %}
              <div class="form-group">
                <input type="text" placeholder="{% trans "Логин" %}" class="form-control" name="username">
                <input type="password" placeholder="{% trans "Пароль" %}" class="form-control" name="password">
                <button type="submit" class="btn btn-success">{% trans "Войти" %}</button>
              </div>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="container">
      {% if messages %}
        {% for message in messages %}
          <div class="alert{% if "error" in message.tags %} alert-danger{% else %} alert-info{% endif %}">{{ message|safe }}</div>
        {% endfor %}
      {% endif %}
      {% block content %}{% endblock %}
      <div class="row">
        <div class="col-xs-12">
          <footer>
            © Больжатов Сергей 2014
          </footer>
          <br>
        </div>
      </div>
    </div>
  </body>
</html>
