{% extends "chess_tournament/base.html" %}
{% load i18n %}

{% block content %}

{% if user.is_authenticated %}
  <div class="row">
    <div class="col-xs-12">
      <a href="{% url "new_tournament" %}" class="btn btn-success btn-lg pull-right " role="button">
        {% trans "Провести турнир" %} <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
{% endif %}

{% for tournament in tournaments %}
  <div class="col-xs-6">
    <h2>
      <a href="{{ tournament.get_absolute_url }}">{{ tournament }}</a>
      <span class="pull-right">
        {% if tournament.ended %}
          <span class="glyphicon glyphicon-tower" title="{% trans "Турнир окончен" %}"></span>
        {% endif %}
        {{ tournament.current_round }} {% trans "тур" %}
      </span>
    </h2>
    <ul class="list-group">
    {% for score in tournament.top_scores %}
      <li class="list-group-item">
        {{ score.player }}
        <span class="badge">{{ score.score }}</span>
        <span class="badge pull-left">{{ score.player.rating }}</span>
      </li>
    {% endfor %}
    </ul>
  </div>
{% endfor %}

{% endblock %}
