{% extends "chess_tournament/base.html" %}
{% load i18n %}

{% block title %}{% trans "Новый турнир"%}{% endblock %}
{% block head %}
  <script src="/static/js/new.js"></script>
{% endblock %}

{% block content %}

<h1>{% trans "Выберите игроков" %}</h1>

<div class="row">
  <div class="col-xs-5">
    <table class="table" id="all_players" style="cursor: pointer">
      {% for player in players %}
        <tr player_pk="{{ player.pk }}">
          <td>{{ player.rating }}</td>
          <td>{{ player.name }}</td>
          <td><span class="glyphicon glyphicon-resize-horizontal"></span></td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <div class="col-xs-2">
    <h1 class="text-center"><span class="glyphicon glyphicon-chevron-right"></span></h1>
  </div>
  <div class="col-xs-5">
    <table class="table" id="tournament_players" style="cursor: pointer">
    </table>
    <form class="form-inline" id="new_player_form">
      {% csrf_token %}
      <div class="form-group">
        <input type="number" name="rating" pattern="\d+" min="0" class="form-control visible" placeholder="{% trans "Рейтинг" %}">
      </div>
      <div class="form-group">
        <input type="text" name="name" class="form-control visible" placeholder="{% trans "Имя" %}">
      </div>
      <button type="submit" class="btn btn-primary">{% trans "Добавить" %}</button>
    </form>
  </div>
</div>

<br>

<div class="pull-right">
  <form action="{% url "create_tournament" %}" method="post" id="create_tournament_form">
    {% csrf_token %}
    <button class="btn btn-success btn-lg disabled" type="submit" id="create_tournament_button">
      {% trans "Начать турнир" %} <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
    <select name="players" multiple="multiple" id="create_tournament_select" style="display: none">
    </select>
  </form>
</div>

{% endblock %}
