{% extends "chess_tournament/base.html" %}
{% load i18n %}

{% block title %}{{ tournament }}{% endblock %}
{% block head %}
  <script src="/static/js/tournament.js"></script>
{% endblock %}

{% block content %}
<h2>{{ tournament }}</h2>
<div class="row">
  <div class="col-xs-6">
    <ul class="list-group">
    {% for score in tournament.all_scores %}
      <li class="list-group-item">
        {{ score.player }}
        <span class="badge">{{ score.score }}</span>
        <span class="badge pull-left">{{ score.player.rating }}</span>
      </li>
    {% endfor %}
    </ul>
  </div>

{% for round in tournament.all_rounds %}
  {% if not forloop.counter0|divisibleby:2 %}
    <div class="row">
  {% endif %}
  <div class="col-xs-6">
    <h3>{{ round.number }} {% trans "тур" %}</h3>
    <table class="table">
      <tr>
        <th>{% trans "Белые" %}</td>
        <th></td>
        <th>{% trans "Черные" %}</td>
      </tr>
      {% for game in round.games.all %}
        <tr>
          <td>{{ game.white }}</td>
          {% if game.result == 'pending' and user.is_authenticated %}
            <td>
              <div class="input-group">
                <select game_pk="{{ game.pk }}" class="result_selector form-control input-sm">
                  <option value="pending" selected="selected">{% trans "Ожидается" %}</option>
                  <option value="white">{% trans "Победа белых" %}</option>
                  <option value="black">{% trans "Победа черных" %}</option>
                  <option value="draw">{% trans "Ничья" %}</option>
                </select>
              </div>
            </td>
          {% else %}
            <td>{{ game.get_result_display }}</td>
          {% endif %}
          <td>{{ game.black }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
  {% if forloop.counter0|divisibleby:2 or forloop.last %}
    </div><!-- div class="row" -->
  {% endif %}
{% endfor %}

<form method="post" id="set_game_result_form">
  {% csrf_token %}
  <select name="result" id="set_game_result_select" style="display: none"></select>
</form>

{% endblock %}
